@model IEnumerable<MVC5.Models.Alumno>

@{
    ViewBag.Title = "Lista De Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista De Alumnos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Edad
        </th>
        <th>
            Sexo
        </th>
        <th>
            Fecha De Registro
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @{ 
                if (item.Sexo == "M")
                {
                    <span>Masculino</span>
                }
                else
                {
                    <span>Femenino</span>
                }
            }
        </td>
        <td>
            @item.FechaRegistro.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "EliminarAlumno", new { id=item.id }, new {@class = "aElimina"})
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(".aElimina").click(function (event) {
            if (!confirm('Estas seguro De Eliminar')) {
                event.preventDefault();
            }
        });
    </script>
}
